.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.flex-container {
  display: flex;
  height: 1010px;
  align-items: stretch;
  background-color: #f1f1f1;
}

.flex-container > div {
  height: 500px;
  margin: 5px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.main {
  height: 500px;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.App-link {
  color: #61dafb;
}
